<div>
  <h2 id="page-heading" data-cy="FactRenewablePotentialHeading">
    <span>Fact Renewable Potentials</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-fact-renewable-potential"
        [routerLink]="['/fact-renewable-potential/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down">Create a new Fact Renewable Potential</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch">Search for Fact Renewable Potential</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="Search for Fact Renewable Potential"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (factRenewablePotentials().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Fact Renewable Potentials found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="maxCapacity">
              <div class="d-flex">
                <span>Max Capacity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="availableCapacity">
              <div class="d-flex">
                <span>Available Capacity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="minCapacity">
              <div class="d-flex">
                <span>Min Capacity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="country.id">
              <div class="d-flex">
                <span>Country</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="year.id">
              <div class="d-flex">
                <span>Year</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="technology.id">
              <div class="d-flex">
                <span>Technology</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="metadata.id">
              <div class="d-flex">
                <span>Metadata</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (factRenewablePotential of factRenewablePotentials(); track trackId(factRenewablePotential)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/fact-renewable-potential', factRenewablePotential.id, 'view']">{{ factRenewablePotential.id }}</a>
              </td>
              <td>{{ factRenewablePotential.maxCapacity }}</td>
              <td>{{ factRenewablePotential.availableCapacity }}</td>
              <td>{{ factRenewablePotential.minCapacity }}</td>
              <td>
                @if (factRenewablePotential.country) {
                  <div>
                    <a [routerLink]="['/country', factRenewablePotential.country.id, 'view']">{{ factRenewablePotential.country.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (factRenewablePotential.year) {
                  <div>
                    <a [routerLink]="['/year', factRenewablePotential.year.id, 'view']">{{ factRenewablePotential.year.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (factRenewablePotential.technology) {
                  <div>
                    <a [routerLink]="['/technology', factRenewablePotential.technology.id, 'view']">{{
                      factRenewablePotential.technology.id
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (factRenewablePotential.metadata) {
                  <div>
                    <a [routerLink]="['/metadata', factRenewablePotential.metadata.id, 'view']">{{ factRenewablePotential.metadata.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/fact-renewable-potential', factRenewablePotential.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a
                    [routerLink]="['/fact-renewable-potential', factRenewablePotential.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(factRenewablePotential)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
