<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (year(); as yearRef) {
      <div>
        <h2 data-cy="yearDetailsHeading"><span>Year</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ yearRef.id }}</span>
          </dd>
          <dt><span>Year</span></dt>
          <dd>
            <span>{{ yearRef.year }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/year', yearRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
