<div>
  <h2 id="page-heading" data-cy="FactTradeCapacityHeading">
    <span>Fact Trade Capacities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-fact-trade-capacity"
        [routerLink]="['/fact-trade-capacity/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down">Create a new Fact Trade Capacity</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch">Search for Fact Trade Capacity</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="Search for Fact Trade Capacity"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (factTradeCapacities().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Fact Trade Capacities found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="value">
              <div class="d-flex">
                <span>Value</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="year.id">
              <div class="d-flex">
                <span>Year</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="country1.id">
              <div class="d-flex">
                <span>Country 1</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="country2.id">
              <div class="d-flex">
                <span>Country 2</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fuel.id">
              <div class="d-flex">
                <span>Fuel</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="metadata.id">
              <div class="d-flex">
                <span>Metadata</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (factTradeCapacity of factTradeCapacities(); track trackId(factTradeCapacity)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/fact-trade-capacity', factTradeCapacity.id, 'view']">{{ factTradeCapacity.id }}</a>
              </td>
              <td>{{ factTradeCapacity.value }}</td>
              <td>
                @if (factTradeCapacity.year) {
                  <div>
                    <a [routerLink]="['/year', factTradeCapacity.year.id, 'view']">{{ factTradeCapacity.year.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (factTradeCapacity.country1) {
                  <div>
                    <a [routerLink]="['/country', factTradeCapacity.country1.id, 'view']">{{ factTradeCapacity.country1.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (factTradeCapacity.country2) {
                  <div>
                    <a [routerLink]="['/country', factTradeCapacity.country2.id, 'view']">{{ factTradeCapacity.country2.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (factTradeCapacity.fuel) {
                  <div>
                    <a [routerLink]="['/fuel', factTradeCapacity.fuel.id, 'view']">{{ factTradeCapacity.fuel.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (factTradeCapacity.metadata) {
                  <div>
                    <a [routerLink]="['/metadata', factTradeCapacity.metadata.id, 'view']">{{ factTradeCapacity.metadata.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/fact-trade-capacity', factTradeCapacity.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a
                    [routerLink]="['/fact-trade-capacity', factTradeCapacity.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(factTradeCapacity)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
