<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-fact-power-plants-heading" data-cy="FactPowerPlantsCreateUpdateHeading">Create or edit a Fact Power Plants</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nameRef = editForm.get('name')!;
        <div class="mb-3">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        @let intalledCapacityRef = editForm.get('intalledCapacity')!;
        <div class="mb-3">
          <label class="form-label" for="field_intalledCapacity">Intalled Capacity</label>
          <input
            type="number"
            class="form-control"
            name="intalledCapacity"
            id="field_intalledCapacity"
            data-cy="intalledCapacity"
            formControlName="intalledCapacity"
          />
          @if (intalledCapacityRef.invalid && (intalledCapacityRef.dirty || intalledCapacityRef.touched)) {
            <div>
              @if (editForm.get('intalledCapacity')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('intalledCapacity')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let availabilityCapacityRef = editForm.get('availabilityCapacity')!;
        <div class="mb-3">
          <label class="form-label" for="field_availabilityCapacity">Availability Capacity</label>
          <input
            type="number"
            class="form-control"
            name="availabilityCapacity"
            id="field_availabilityCapacity"
            data-cy="availabilityCapacity"
            formControlName="availabilityCapacity"
          />
          @if (availabilityCapacityRef.invalid && (availabilityCapacityRef.dirty || availabilityCapacityRef.touched)) {
            <div>
              @if (editForm.get('availabilityCapacity')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('availabilityCapacity')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null"></option>
            @for (statusType of statusTypeValues; track $index) {
              <option [value]="statusType">
                {{ { null: '', OPERATIONAL: 'OPERATIONAL', NO_OPERATIONAL: 'NO_OPERATIONAL', PLANNED: 'PLANNED' }[statusType] }}
              </option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_commissioningDate">Commissioning Date</label>
          <select
            class="form-control"
            id="field_commissioningDate"
            data-cy="commissioningDate"
            name="commissioningDate"
            formControlName="commissioningDate"
            [compareWith]="compareYear"
          >
            <option [ngValue]="null"></option>
            @for (yearOption of yearsSharedCollection; track $index) {
              <option [ngValue]="yearOption">{{ yearOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_decommissioningDate">Decommissioning Date</label>
          <select
            class="form-control"
            id="field_decommissioningDate"
            data-cy="decommissioningDate"
            name="decommissioningDate"
            formControlName="decommissioningDate"
            [compareWith]="compareYear"
          >
            <option [ngValue]="null"></option>
            @for (yearOption of yearsSharedCollection; track $index) {
              <option [ngValue]="yearOption">{{ yearOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_country">Country</label>
          <select
            class="form-control"
            id="field_country"
            data-cy="country"
            name="country"
            formControlName="country"
            [compareWith]="compareCountry"
          >
            <option [ngValue]="null"></option>
            @for (countryOption of countriesSharedCollection; track $index) {
              <option [ngValue]="countryOption">{{ countryOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_technology">Technology</label>
          <select
            class="form-control"
            id="field_technology"
            data-cy="technology"
            name="technology"
            formControlName="technology"
            [compareWith]="compareTechnology"
          >
            <option [ngValue]="null"></option>
            @for (technologyOption of technologiesSharedCollection; track $index) {
              <option [ngValue]="technologyOption">{{ technologyOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_metadata">Metadata</label>
          <select
            class="form-control"
            id="field_metadata"
            data-cy="metadata"
            name="metadata"
            formControlName="metadata"
            [compareWith]="compareMetadata"
          >
            <option [ngValue]="null"></option>
            @for (metadataOption of metadataSharedCollection; track $index) {
              <option [ngValue]="metadataOption">{{ metadataOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
