<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (technology(); as technologyRef) {
      <div>
        <h2 data-cy="technologyDetailsHeading"><span>Technology</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ technologyRef.id }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ technologyRef.name }}</span>
          </dd>
          <dt><span>Category</span></dt>
          <dd>
            <span>{{ { null: '', THERMAL: 'THERMAL', RENEWABLE: 'RENEWABLE' }[technologyRef.category ?? 'null'] }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/technology', technologyRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
